<!DOCTYPE html>
<html>
<body>

<h1>Publish page</h1>

<form action="{{ url_for('publish_page') }}" method="post">
     Enter a message to publish: <input type="text" name="publish_message"><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>
