{% extends 'base.html' %}
{% block content %}
    <h1>Contact HTML</h1>
    <br/><br/>
    <address>
        <strong>Hotel California SRL</strong>
        <br/>
        1355 Market, Mara 900 nr 1
        <br/>
        San Francisco, CA 4354353
        <br/>
        Phone number:(435) 3453-6363
        <br/>
    </address>
    <address>
        <a href="mailto:pe.casaro10@gmail.com">pe.casaro10@gmail.com</a>
    </address>
{% endblock %} 