{% extends 'base.html' %}
{% block content %}
    <h1>Prices</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Content</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Drink</td>
            <td>Wine</td>
            <td>12$</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Eggs</td>
            <td>Breakfast</td>
            <td>34$</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dinner</td>
            <td>Meat</td>
            <td>50$</td>
          </tr>
        </tbody>
      </table>
      {% endblock %} 
