
{% extends 'base.html' %}
{% block content %}
<h3>An important message for our Guests</h3> 

 <p>COVID-19</p>

 <h6>Dear Guest,

At The Spencer Hotel, we have implemented the Government recommendations in how to deal with Covid-19. We have also gone a few steps further, to make you feel comfortable, relaxed and safe.
</h6>  

<a class="btn btn-primary" href="{{url_for('pricesPage')}}" role="button">Prices</a>
<a class="btn btn-primary"  href="{{url_for('contactPage')}}" role="button">Contact</a>
<br/>
<br/>

<img src="{{url_for('static', filename='hotel.jpg')}}"/>
{% endblock %} 
