<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hy {{ nameTxt }}</title>
</head>
<body>
    <h1 style="color: red;">Hy {{ nameTxt }}!</h1>
    <img src="{{url_for('static', filename='cat.jpg')}}"/> 
</body>
</html>