<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

<table border = 1>
    {% for value in result %}

    <tr>
       <td> {{ value }} </td>
    </tr>

    {% endfor %}
 </table>



</body>
</html>
